doctype html
html
  head
    title= title
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js")
    block style
  body
    block content

  block post_script